p {
    margin: auto;
    text-align: center;
    color: #2c60c8;
}

ion-item {
    --background: #edecec
}

ion-list {
    padding: 0;
}

span {
    margin: auto;
    color: #2c60c8;
}

h6 {
    text-align: center;
}

.trialInfo h6 {
    text-align: center;
}

.agree {
    padding-top: 10px;
    border-top: 2px solid #ddd;
    text-align: center;
}