<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74528578416-fehl5h9a390eb7rcdbrrse713klqmk52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74528578416-fehl5h9a390eb7rcdbrrse713klqmk52</string>
	<key>API_KEY</key>
	<string>AIzaSyC97xcEwFeaRayY6LShJZapMI1X5rh99ms</string>
	<key>GCM_SENDER_ID</key>
	<string>74528578416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.multi.psychowalkman</string>
	<key>PROJECT_ID</key>
	<string>multi-psychowalkman</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-psychowalkman.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74528578416:ios:6c4927c42e27780dc58db5</string>
	<key>DATABASE_URL</key>
	<string>https://multi-psychowalkman.firebaseio.com</string>
</dict>
</plist>