<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25466963014-m00149lgaca4iar0ug2evklr7uh3epec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25466963014-m00149lgaca4iar0ug2evklr7uh3epec</string>
	<key>API_KEY</key>
	<string>AIzaSyBBrpRH_Z_R5emsP9lJEVRvQcdk1bMrZ5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>25466963014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.french.psychowalkman</string>
	<key>PROJECT_ID</key>
	<string>balanceapp-french</string>
	<key>STORAGE_BUCKET</key>
	<string>balanceapp-french.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25466963014:ios:bd261049996eb2ebb67647</string>
	<key>DATABASE_URL</key>
	<string>https://balanceapp-french.firebaseio.com</string>
</dict>
</plist>