<ion-header *ngIf="language">
    <ion-toolbar mode="ios" class="headerTool">
        <ion-title>
            {{ 'title' | translate }}
        </ion-title>
        <!-- <ion-icon name="information-circle-outline" slot="end" routerLink="/product-info"></ion-icon> -->
        <ion-icon name="language-outline" slot="end" (click)="changeLanguage()"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content class="backgroundImage" *ngIf="language">
    <div (click)="singleItem('text','text')" class="divImage">
        <img src="assets/images/{{language}}/1 ABOUT.png" alt="">
    </div>
    <div (click)="singleItem('music','Psychowalkman-UCENI.mp3')" class="divImage">
        <img src="assets/images/LERNEN.png" alt="">
        <p class="text">{{'card.card2' | translate}}</p>
    </div>

    <div (click)="singleItem('music','Psychowalkman-USINANI.mp3')" class="divImage">
        <img src="assets/images/ERHOLSAMER SCHLAF.png" alt="">
        <p class="text">{{'card.card3' | translate}}</p>
    </div>

    <div (click)="singleItem('music','Psychowalkman-MEDITACE.mp3')" class="divImage">
        <img src="assets/images/TIEFE MEDITATIONpng.png" alt="">
        <p class="text">{{'card.card4' | translate}}</p>
    </div>
</ion-content>
<ion-content class="sliderContent" *ngIf="!language">
    <div class="logo">
        <img src="assets/images/icon.png">
    </div>
    <p class="logo">Please Select Language</p>
    <div class="languageSelect">
        <ion-row>
            <ion-col size="6">
                <ion-card class="langCard" [ngClass]="{'addBackground': tempLang === 'en'}" (click)="getLang('en',$event)">
                    English
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="langCard" [ngClass]="{'addBackground': tempLang === 'ger'}" (click)="getLang('ger',$event)">
                    Deutsche
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="langCard" [ngClass]="{'addBackground': tempLang === 'chi'}" (click)="getLang('chi',$event)">
                    中文
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="langCard" [ngClass]="{'addBackground': tempLang === 'jpn'}" (click)="getLang('jpn',$event)">
                    日本人
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="langCard" [ngClass]="{'addBackground': tempLang === 'kor'}" (click)="getLang('kor',$event)">
                    한국어
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="langCard" [ngClass]="{'addBackground': tempLang === 'fre'}" (click)="getLang('fre',$event)">
                    Française
                </ion-card>
            </ion-col>
        </ion-row>
    </div>
    <!-- <div class="storeLang" (click)="storeLang()">
        <ion-button>Select</ion-button>
    </div> -->
</ion-content>