.headerTool {
    --background: #0aa90a;
    color: #fff;
}

.backgroundImage {
    --background: url('../../assets/images/background_1242x2206.jpeg') no-repeat center center / cover;
}

.backgroundImage div {
    margin: 5px 5px 0px 5px;
}

.textImage img {
    width: 100%;
}

.mp3Image img {
    width: 100%;
}