.headerTool {
    --background: #0aa90a;
    color: #fff;
}

.backgroundImage {
    --background: url('../../assets/images/background_1242x2206.jpeg') no-repeat center center / cover;
}

.backgroundImage div {
    margin: 5px 5px 0px 5px;
}

.divImage img {
    width: 100%;
    height: auto;
}

.my-custom-class .popover-content {
    width: 322230px;
}

ion-slide div {
    width: auto !important;
}

ion-slide {
    height: 100vh;
}

.slideLogo img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 40%;
}

.slideContent p {
    font-weight: 600;
    margin: 0px 4%;
}

.continueBtn {
    position: absolute;
    bottom: 10vh;
}

ion-toolbar ion-icon {
    font-size: 25px;
    padding-right: 8px;
}