<ion-header>
    <ion-toolbar mode="ios" class="headerTool">
        <ion-title>
            Balance
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="backgroundImage">
    <div routerLink="/inner-page/text/text" class="textImage">
        <img src="assets/images/1 ABOUT.png" alt="" width="100%">
    </div>
    <div routerLink="/inner-page/music/Psychowalkman-UCENI.mp3" class="mp3Image">
        <img src="assets/images/UCENI.png" alt="" width="100%">
    </div>

    <div routerLink="/inner-page/music/Psychowalkman-USINANI.mp3" class="mp3Image">
        <img src="assets/images/SPANEK.png" alt="" width="100%">
    </div>

    <div routerLink="/inner-page/music/Psychowalkman-MEDITACE.mp3" class="mp3Image">
        <img src="assets/images/MEDITACE.png" alt="" width="100%">
    </div>

</ion-content>