<ion-header>
    <ion-toolbar mode="ios" class="headerTool">
        <ion-title>
            {{ 'title' | translate }}
        </ion-title>
        <ion-back-button defaultHref="list-view" mode="md" slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content class="backgroundImage" *ngIf="type == 'music'">
    <ion-row class="musicControls">
        <ion-col size="12" class="ion-text-center">
            <input type="range" class="range" min="0" max="100" [(ngModel)]="progress" (change)="seek(progress)" />
        </ion-col>
        <ion-col size="12">
            <p class="timePlayed">{{totalTimePlayed}}</p>
            <p class="totalDuration">{{ duration }}</p>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
            <ion-button fill="clear" (click)="move('backward',progress)">
                <img src="assets/images/icons8-replay-10-50.png" height="29px">
            </ion-button>

            <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying">
                <ion-icon slot="icon-only" style="font-size: 42px;color: #fff;" name="play"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying">
                <ion-icon slot="icon-only" style="font-size: 42px;color: #fff;" name="pause"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="move('forward',progress)">
                <img src="assets/images/icons8-forward-10-30.png" height="29px">
            </ion-button>

        </ion-col>
    </ion-row>
</ion-content>
<ion-content *ngIf="type == 'text'">
    <ion-row>
        <ion-col size="12">
            <p>
                {{'text.text1' | translate}}
            </p>
            <p>
                {{'text.text2' | translate}}
            </p>
            <p>
                {{'text.text3' | translate}}
            </p>
            <p>
                {{'text.text4' | translate}}
            </p>
            <p>
                {{'text.text5' | translate}}
            </p>
            <p>
                {{'text.text6' | translate}}
            </p>
            <p>
                {{'text.text7' | translate}}
            </p>
            <p>
                {{'text.text8' | translate}}
            </p>
            <p>
                {{'text.text9' | translate}}
            </p>
            <p>
                {{'text.text10' | translate}}
            </p>

            <br>
            <br>
            <div class="mainDiv">
                <img src="assets/images/binaural EN.jpeg" alt="">
            </div>
        </ion-col>
    </ion-row>
</ion-content>