<ion-header>
  <ion-toolbar mode="ios" class="headerTool">
    <ion-title>
      {{ 'title' | translate }}
    </ion-title>
    <ion-back-button
      defaultHref="list-view"
      mode="md"
      slot="start"
    ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="backgroundImage ion-padding">
  <ion-card class="productCard">
    <h4>{{'productTitles.monthly' | translate}}</h4>
    <div class="details">
      <p>Duration: {{'subscriptionType.duration1' | translate}}</p>
      <p>Price: {{'subscriptionType.price1' | translate}}</p>
      <p>{{'subscriptionType.description1' | translate}}</p>
      <p>
        <ion-button (click)='buyProduct("mindmachine")'
          >{{'subscriptionType.buy' | translate }}</ion-button
        >
      </p>
    </div>
  </ion-card>
  <ion-card class="productCard">
    <h4>{{'productTitles.yearly' | translate}}</h4>
    <div class="details">
      <p>Duration: {{'subscriptionType.duration2' | translate}}</p>
      <p>Price: {{'subscriptionType.price2' | translate}}</p>
      <p>{{'subscriptionType.description2' | translate}}</p>
      <p>
        <ion-button (click)='buyProduct("mindmachineyearly")'
          >{{'subscriptionType.buy' | translate }}</ion-button
        >
      </p>
    </div>
  </ion-card>

  <ion-button
    expand="block"
    (click)="restore()"
    class="headerTool"
  >
    <img
      class="ion-margin-end"
      width="20"
      height="20"
      src="assets/icon/restore.png"
      alt=""
    />{{'subscriptionType.restore' | translate}}
  </ion-button>

  <ion-button
    expand="block"
    (click)="openPolicy()"
    class="headerTool"
  >
    <img
      class="ion-margin-end"
      width="20"
      height="20"
      src="assets/icon/privacy.png"
      alt=""
    />{{'subscriptionType.privacy' | translate}}
  </ion-button>

  <ion-button
    expand="block"
    routerLink="/terms-of-use"
    class="headerTool"
  >
    <img
      class="ion-margin-end"
      width="20"
      height="20"
      src="assets/icon/terms.png"
      alt=""
    />{{'termsOfUse.title' | translate}}
  </ion-button>

  <ion-card *ngFor="let prev of previousPurchases">
    <ion-card-header>Purchased {{ prev.date | date:'short' }}</ion-card-header>
    <ion-card-content>
      {{ prev.productId }}
    </ion-card-content>
  </ion-card>
</ion-content>
