.headerTool {
    --background: #0aa90a;
    color: #fff;
}

.productCard {
    border: 1px solid #0aa90a;
    border-radius: 12px;
    width: auto;
    margin: 20px 0;
}

.productCard h4 {
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid #eedede;
    background: #0aa90a;
    margin: 0;
    padding: 10px;
    font-size: 18px;   
    
}

.details p {
    margin: 13px;
    font-size: 15px;
    color: #595252;
}

ion-button {
    &.headerTool {
        margin: 20px 0;
    }
}