<ion-header>
    <ion-toolbar mode="ios" class="headerTool">
        <ion-title>
            Mind Machine
        </ion-title>
        <ion-back-button defaultHref="list-view" mode="md" slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content class="backgroundImage ion-padding">

    <ion-card class="productCard">
        <h4>Monthly Plan</h4>
        <div class="details">
            <p>USD 1.99 per month</p>
        </div>
    </ion-card>
    <ion-card class="productCard">
        <h4>Yearly Plan</h4>
        <div class="details">
            <p>USD 19 per year</p>
        </div>
    </ion-card>
    <ion-card class="productCard">
        <h4>Monthly Balance Subscriber</h4>
        <div class="details">
            <p>USD .99 Monthly Balance Subscriber</p>
        </div>
    </ion-card>
</ion-content>