<ion-header>
  <ion-toolbar mode="ios" class="headerTool">
    <ion-title>{{'termsOfUse.title' | translate}}</ion-title>
    <ion-back-button
      defaultHref="list-view"
      mode="md"
      slot="start"
    ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 10px;"> 
   <h1>Terms and Conditions</h1>
     <p>{{'termsOfUse.p1' | translate}}</p>

  <p>{{'termsOfUse.p2' | translate}}</p>

  <p>{{'termsOfUse.p3' | translate}}</p>

  <p>{{'termsOfUse.p4' | translate}}</p>

  <p>{{'termsOfUse.p5' | translate}}</p>

  <p>{{'termsOfUse.p6' | translate}}</p>

  <p>{{'termsOfUse.p7' | translate}}</p>

  <p>{{'termsOfUse.p8' | translate}}</p>

  <p>{{'termsOfUse.p9' | translate}}</p>

  <p>{{'termsOfUse.p10' | translate}}</p>

  <p>{{'termsOfUse.p11' | translate}}</p>

  <p>{{'termsOfUse.p12' | translate}}</p>

  <p>{{'termsOfUse.p13' | translate}}</p>

  <p>{{'termsOfUse.p14' | translate}}</p>

  <p>{{'termsOfUse.p15' | translate}}</p>

  <p>{{'termsOfUse.p16' | translate}}</p>

  <p>{{'termsOfUse.p17' | translate}}</p>

  <p>{{'termsOfUse.p18' | translate}}</p>

  <p>{{'termsOfUse.p19' | translate}}</p>

  <p>{{'termsOfUse.p20' | translate}}</p>

  <p>{{'termsOfUse.p21' | translate}}</p>

  <p>{{'termsOfUse.p22' | translate}}</p>

  <p>{{'termsOfUse.p23' | translate}}</p>

  <p>{{'termsOfUse.p24' | translate}}</p>

  <p>{{'termsOfUse.p25' | translate}}</p>

  <p>{{'termsOfUse.p26' | translate}}</p>

  <p>{{'termsOfUse.p27' | translate}}</p>

  <p>{{'termsOfUse.p28' | translate}}</p>

  <p>{{'termsOfUse.p29' | translate}}</p>

  <p>{{'termsOfUse.p30' | translate}}</p>

  <p>{{'termsOfUse.p31' | translate}}</p>

  <p>{{'termsOfUse.p32' | translate}}</p>

  <p>{{'termsOfUse.p33' | translate}}</p>

  <p>{{'termsOfUse.p34' | translate}}</p>

  <p>{{'termsOfUse.p35' | translate}}</p>

  <p>{{'termsOfUse.p36' | translate}}</p>

  <p>{{'termsOfUse.p37' | translate}}</p>

  <p>{{'termsOfUse.p38' | translate}}</p>

  <p>{{'termsOfUse.p39' | translate}}</p>

  <p>{{'termsOfUse.p40' | translate}}</p>

  <p>{{'termsOfUse.p41' | translate}}</p>

  <p>{{'termsOfUse.p42' | translate}}</p>

  <p>{{'termsOfUse.p43' | translate}}</p>

  <p>{{'termsOfUse.p44' | translate}}</p>

  <p>{{'termsOfUse.p45' | translate}}</p>

  <p>{{'termsOfUse.p46' | translate}}</p>

  <p>{{'termsOfUse.p47' | translate}}</p>

  <p>{{'termsOfUse.p48' | translate}}</p>

  <p>{{'termsOfUse.p49' | translate}}</p>

  <p>{{'termsOfUse.p50' | translate}}</p>

  <p>{{'termsOfUse.p51' | translate}}</p>

  <p>{{'termsOfUse.p52' | translate}}</p>

  <p>{{'termsOfUse.p53' | translate}}</p>

  <p>{{'termsOfUse.p54' | translate}}</p>

  <p>{{'termsOfUse.p55' | translate}}</p>

  <p>{{'termsOfUse.p56' | translate}}</p>

  <p>{{'termsOfUse.p57' | translate}}</p>

  <p>{{'termsOfUse.p58' | translate}}</p>

  <p>{{'termsOfUse.p59' | translate}}</p>

  <p>{{'termsOfUse.p60' | translate}}</p>

  <p>{{'termsOfUse.p61' | translate}}</p>

  <p>{{'termsOfUse.p62' | translate}}</p>

  <p>{{'termsOfUse.p63' | translate}}</p>

  <p>{{'termsOfUse.p64' | translate}}</p>

  <p>{{'termsOfUse.p65' | translate}}</p>

  <p>{{'termsOfUse.p66' | translate}}</p>

  <p>{{'termsOfUse.p67' | translate}}</p>

  <p>{{'termsOfUse.p68' | translate}}</p>

  <p>{{'termsOfUse.p69' | translate}}</p>

  <p></p>
</div>
</ion-content>
