ion-header {
    .headerTool {
        --background: #0aa90a;
        color: #fff;
        font-family: 'walkway_boldregular';
        font-weight: 600
    }
}

ion-content {
    font-family: 'walkway_boldregular';
    h1 {
        font-weight: 600;
    }
}